In [28]:
from pathlib import Path
import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Create a file path
filepath = "Netflix TV Shows and Movies.csv"

# Read in the data. 
df = pd.read_csv(filepath)

df.head()

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
5,5,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,tt0066999,7.7,153463.0
6,6,tm185072,My Fair Lady,MOVIE,A snobbish phonetics professor agrees to a wag...,1964,G,170,tt0058385,7.8,94121.0
7,7,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,tt0080453,5.8,69053.0
8,8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,tt0061418,7.7,111189.0
9,9,tm67378,The Professionals,MOVIE,An arrogant Texas millionaire hires four adven...,1966,PG-13,117,tt0060862,7.3,16168.0
10,10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an imp...,1961,NaN,158,tt0054953,7.5,50150.0
11,11,tm69778,Lupin the Third: The Castle of Cagliostro,MOVIE,After a successful robbery leaves famed thief ...,1979,PG,100,tt0079833,7.6,30277.0
12,12,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,tt0079807,8.1,5141.0
13,13,tm96649,The Long Riders,MOVIE,"The origins, exploits and the ultimate fate of...",1980,R,99,tt0081071,6.9,11329.0
14,14,tm16479,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,NaN,115,tt0047673,7.5,42373.0
15,15,tm135083,Cairo Station,MOVIE,"Qinawi, a physically challenged peddler who ma...",1958,NaN,77,tt0051390,7.5,4385.0
16,16,tm14491,The Queen,MOVIE,"In 1967, New York City is host to the Miss All...",1968,NaN,68,tt0183686,7.2,1117.0
17,17,tm89386,Hitler: A Career,MOVIE,A keen chronicle of the unlikely rise to power...,1977,PG,150,tt0191182,7.5,2416.0
18,18,tm156453,FTA,MOVIE,A documentary about a political troupe headed ...,1972,R,97,tt0068562,6.2,411.0
19,19,tm27298,Saladin the Victorious,MOVIE,"Saladin, the first sultan of Egypt and Syria, ...",1963,NaN,186,tt0057357,7.6,2470.0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   object
 2   title              5283 non-null   object
 3   type               5283 non-null   object
 4   description        5278 non-null   object
 5   release_year       5283 non-null   int64
 6   age_certification  2998 non-null   object
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   object
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5267 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 454.1+ KB

In [31]:
# Replacing NaN with unknown to clean df
df['age_certification'].fillna('unknown', inplace=True)

C:\Users\eeliz\AppData\Local\Temp\ipykernel_31148\3621362582.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age_certification'].fillna('unknown', inplace=True)

In [38]:
# Dropping nulls with no imbd votes
filtered_df = df.dropna()

In [47]:
selected_col = ["index", "title", "type", "description", "release_year", "age_certification", "imdb_score", "imdb_votes"]
clean_df = filtered_df[selected_col].copy()

In [49]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5263 entries, 0 to 5282
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5263 non-null   int64
 1   title              5263 non-null   object
 2   type               5263 non-null   object
 3   description        5263 non-null   object
 4   release_year       5263 non-null   int64
 5   age_certification  5263 non-null   object
 6   imdb_score         5263 non-null   float64
 7   imdb_votes         5263 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 370.1+ KB